# 启用自定义分区表
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"

# SPIFFS 配置
CONFIG_SPIFFS_MAX_PARTITIONS=3
CONFIG_SPIFFS_DEFAULT_PARTITION_LABEL="storage"
